* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app-wrapper {
  width: 100vw;
}
.header {
  width: 100vw;
  height: auto;
}
.header-wrapper {
  /* padding: 20px; */
}
.nav-bar-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  background: #333;
  margin: 0;
}
.nav-bar-list-iteam {
  text-decoration: none;
  display: block;
  color: #fff;
  padding: 1em;
}
