* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
.react-app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body::-webkit-scrollbar { /* Disable scroll */
  display: none;
}
main {
  flex: 1 0 auto;
}
footer {
  color: white;
  flex: 0 0 20px;
  padding: 11px;
  text-align: center;
  background-color: black;
  font-size: 11px;
  box-shadow: 0px -20px 20px -9px rgba(0,0,0,0.5);
}

/*Header Style*/
.nav-bar {
  flex: 0 0 80px;
  z-index: 1;
  background-color: black;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 150px 0 150px;
  box-shadow: 0px 20px 20px -9px rgba(0,0,0,0.5);
}
.nav-bar-iteam {
  display: flex;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.nav-bar-iteam a {
  font-size: 16px;
}
.logo {
  margin: 0 auto;
  color: white;
}
.add-image {
  margin: 0 auto;
}
#add-image {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
/*Header Style*/

/*Pop new file options*/
.canvas-options {
  position: absolute;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 300px;
  background-color: bisque;
  display: none;
  z-index: 101;
}
.back {
  z-index: 100;
  display: none;
  background-color: black;
  opacity: .9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.canvas-options li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.canvas-options li label {
  margin-bottom: 15px;
}
.canvas-options li input {
  border-radius: .5em;
  width: 150px;
  height: 30px;
  font-size: 18px;
  outline: none;
}
.canvas-options li button {
  border-radius: .5em;
  width: 150px;
  height: 30px;
  font-size: 16px;
  outline: none;
}
.canvas-options-exit {
  position: absolute;
  top: 20px;
  right: 20px;
}
/*Pop new file options*/

/*Main drawing place style*/
.stage {
  background-color: #777;
}
/*Main drawing place style*/

/*Tool Bar style*/
.eraser {
  z-index: 99;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
  top: 180px;
  width: 42px;
  height: 42px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 12px 20px -9px rgba(0,0,0,0.5);
}
.eraser-img {
  width: 65%;
  height: 65%;
}
.eraser-resize {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
  width: 7px;
  height: 7px;
}
.pencil {
  position: absolute;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 180px;
  left: 67px;
  width: 42px;
  height: 42px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 12px 20px -9px rgba(0,0,0,0.5);
}
.pencil-img {
  width: 65%;
  height: 65%;
}
.pencil-resize {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
  width: 7px;
  height: 7px;
}
.move {
  position: absolute;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 114px;
  top: 180px;
  width: 42px;
  height: 42px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 12px 20px -9px rgba(0,0,0,0.5);
}
.move-img {
  width: 65%;
  height: 65%;
}
.move-resize {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
  width: 7px;
  height: 7px;
}
.filter {
  position: absolute;
  z-index: 99;
  left: 161px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 180px;
  background-color: #fff;
  border-radius: 20px;
  width: 42px;
  height: 42px;
  box-shadow: 10px 12px 20px -9px rgba(0,0,0,0.5);
}
.filter-img {
  width: 65%;
  height: 65%;
}
.filter-resize {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
  width: 7px;
  height: 7px;
}
.resize {
  position: absolute;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  left: 20px;
  top: 227px;
  width: 42px;
  height: 42px;
  box-shadow: 10px 12px 20px -9px rgba(0,0,0,0.5);
}
.resize-img {
  width: 65%;
  height: 65%;
}
.resize-resize {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
  width: 7px;
  height: 7px;
}
.shape {
  position: absolute;
  z-index: 99;
  left: 67px;
  top: 227px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  height: 42px;
  box-shadow: 10px 12px 20px -9px rgba(0,0,0,0.5);
}
.shape-img {
  width: 65%;
  height: 65%;
}
.shape-resize {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
  width: 7px;
  height: 7px;
}
.text {
  position: absolute;
  z-index: 99;
  left: 114px;
  top: 227px;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 12px 20px -9px rgba(0,0,0,0.5);
}
.text-img {
  width: 65%;
  height: 65%;
}
.text-resize {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
  width: 7px;
  height: 7px;
}
.bucket {
  position: absolute;
  z-index: 99;
  left: 161px;
  top: 227px;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 12px 20px -9px rgba(0,0,0,0.5);
}
.bucket-img {
  width: 65%;
  height: 65%;
}
.bucket-resize {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
  width: 7px;
  height: 7px;
}
.bezier {
  position: absolute;
  z-index: 99;
  left: 20px;
  top: 274px;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 12px 20px -9px rgba(0,0,0,0.5);
}
.bezier-img {
  width: 65%;
  height: 65%;
}
.bezier-resize {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
  width: 7px;
  height: 7px;
}
.colorPallete {
  z-index: 99;
  position: absolute;
  left: 10px;
  top: 164px;
  box-shadow: 10px 20px 20px -9px rgba(0,0,0,0.5);
}
/*Tool Bar style*/

/*Layer management style*/
.layer-management {
  background-color: #666;
  position: absolute;
  right: 20px;
  top: 180px;
  z-index: 99;
  width: 150px;
  height: 245px;
  box-shadow: 10px 20px 20px -9px rgba(0,0,0,0.5);
  border-radius: 10px 10px 10px 10px;
}
.layer-management-header {
  font-size: 12px;
}
.layer-management-header > p{
  padding-left: 10px;
}
.layer-management ul {
  width: 150px;
  height: 200px;
  overflow-y: scroll;
}
.layer-management li {
  display: flex;
  outline: none;
  flex-flow: column wrap;
  justify-content: center;
  height: 30px;
  margin-bottom: 4px;
  box-shadow: 10px 20px 20px -9px rgba(0,0,0,0.5);  
  font-size: 14px;
}
.invisible-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  color: #bbb;
}
.invisible-btn img {
  width: 65%;
  height: 65%;
}
.options {
  display: flex;
}
.layer-management-options-btn {
  outline: none;
  width: 68.5px;
  height: 24px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #999;
}
.remove-btn {
  border-radius: 0 8px 8px 0;
}
.move-options {
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.up-btn, .down-btn {
  border: 0;
  height: 12px;
  width: 12px;
}
.up-btn {
  border-radius: 5px 0 0 0;
}
.down-btn {
  transform: rotate(180deg);
  border-radius: 0 5px 0 0;
}
/*Layer management style*/

/*Settings style*/
.settings {
  background-color: #666;
  position: absolute;
  right: 20px;
  top: 470px;
  z-index: 99;
  width: 200px;
  height: 250px;
  box-shadow: 10px 20px 20px -9px rgba(0,0,0,0.5);
  border-radius: 10px;
}
.settings ul {
  width: 200px;
  /* height: 250px; */
  height: 230px;
  overflow-y: scroll;
  list-style: none;
  padding: 10px;
}

.settings-header, .layer-management-header {
  display: flex;
  flex-flow: row;
  border-radius: 10px;
  padding: 0;
  height: 20px;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(221, 221, 221);
  box-shadow: 0px 20px 20px -9px rgba(0,0,0,0.5);
}
.settings-header > img, .layer-management-header > img {
  position: absolute;
  top: 2px;
  left: 3px;
}
.settings button {
  width: 100px;
  height: 25px;
  margin-top: 10px;
}
.settings ul li {
  display: flex;
  flex-flow: column nowrap;
  font-size: 14px;
  align-content: center;
  align-items: center;
}
.settings ul li label, input {
  margin-bottom: 10px;
  height: 15px;
}
.settings ul li input {
  width: 80%;
}
.brush-list {
  outline: none;
  margin-bottom: 20px;
}
.settings ul li div {
  margin-top: 15px;
}
.pencil-size-options {
  margin-bottom: 10px;
}
.rgb-options {
  display: flex;
  flex-flow: row nowrap !important;
  margin-bottom: 10px;
}
.rgb-options label {
  margin-right: 5px;
  margin-left: 5px;
}
.rgb-options label:first-child {
  margin-left: 0px;
}
.rgb-options input {
  width: 30% !important;
}
.color-box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
#color-box {
  width: 100px;
  height: 50px;
  background-color: #000;
}
/*Settings style*/

/*Layer management scrool bar*/
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 0px;
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
	background-color: #555;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #333;
}
/*Layer management scrool bar*/

/*Mouse Circle*/
.mouseCircle {
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 100%;
  position: absolute;
  display: none;
}
/*Mouse Circle*/

/*Color Picker*/
#color-input {
  display: none;
}
#color-label {
  margin-left: 15px;
  position: absolute;
  height: 30px;
  width: 50px;
} 
#color-input:checked ~ #color-picker {
  opacity: 1;
}
#color-picker {
  padding: 5px;
  left: 20px;
  width: 197px;
  height: 162px;
  background-color: #555;
  opacity: 0;
  z-index: 9999;
  top: 330px;
  position: absolute;
}
#color-block {
  padding-right: 5px;
}
/*Color Picker*/

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 38px;
  height: 28px;
  position: absolute;
  left: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 12px;
}

#nav-icon1 span:nth-child(3) {
  top: 24px;
}

#nav-icon1.open span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#pop-up-navbar {
  z-index: -1;
  display: flex;
  background: #222;
  position: absolute;
  width: 100vw;
  height: 80px;
  opacity: 0;
  left: 0;
  top: 85px;
  color: black;
  box-shadow: 0px 20px 20px -9px rgba(0,0,0,0.5);
  transform-origin: 0% 0%;
  transform: translate(0%, -100%);
  transition: transform 0.5s ease-out, opacity 0.7s ease-out;

  display: flex;
  flex-direction: row;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  padding: 0 200px 0 200px;
  list-style: none;
}

#pop-up-navbar.open {
  transform: none;
  opacity: 1;
  color: #fff;
}

#pop-up-navbar > ul li {
  width: 100px;
  height: 50px;
}

#pop-up-navbar > ul li:nth-child(2) {
  margin: 0 auto;
}

.nav-bar-iteam button, .a-draw {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;
  
  font-size: inherit;
  font-weight: 700;

  position: relative;
  color: inherit;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}
.draw img, .a-draw img {
  margin-left: 10px;
}

.a-draw:hover::before, .a-draw:hover::after {
  width: 25%;
  height: 25%;
}

 .draw::before,  .draw::after, .a-draw::before, .a-draw::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.draw, .a-draw {
  transition: color 0.25s;
}
.draw::before, .draw::after, .a-draw::before, .a-draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before, .a-draw::before {
  top: 0;
  left: 0;
}
.draw::after, .a-draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover, .a-draw:hover {
  color: #60daaa;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before, .a-draw:hover::before {
  border-top-color: #60daaa;
  border-right-color: #60daaa;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after, .a-draw:hover::after {
  border-bottom-color: #60daaa;
  border-left-color: #60daaa;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

